.container {
    color: white;
    background: #000;
    width: 300px;
    height: 300px;
    padding: 77px;
    margin: 22px;
}
.container h1{
    text-align: left;
    margin: 50px;
}
.allcontent {
    height:  400px;
    width: 400px;
    padding: 30px;
    margin: 30px;
    background: red;
}